<div class="row" ng-app="samarnmitrPOS">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="hidden-print">
      <% if @order.paid_at %>
        <button class="btn btn-info pull-left" onclick="window.print()">
          <i class="fa fa-print"></i> Print
        </button>
        <% if @order.completed %>
          <button class="btn btn-default pull-right" disabled>
            <i class="fa fa-shopping-bag"></i> All Done!
          </button>
        <% else %>
          <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#shipModal">
            <i class="fa fa-shopping-bag"></i> Ship
          </button>
        <% end %>
      <% else %>
        <a href="<%= edit_path(@order) %>" class="btn btn-warning pull-left">
          <i class="fa fa-pencil"></i> Edit
        </a>
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#payModal">
          <i class="fa fa-usd"></i> Pay
        </button>
      <% end %>
    </div>
    <p class="text-center">
      <img src="/img/smm_logo.png" width="300">
    </p>
    <h4 class="text-center">Receipt and Shipping Bill</h4>
    <hr>
    <div class="row">
      <div class="col-xs-6">
        <p>
          <strong>Status:</strong>
          <% if @order.paid_at %>
            <% if Rails.env.production? %>
              <span class="label label-success">Paid</span>
              <i class="fa fa-check"></i>
            <% else %>
              <span class="label label-warning">Paid (DEMO)</span>
              <i class="fa fa-exclamation-triangle"></i>
            <% end %>
          <% else %>
            <span class="label label-danger">Unpaid</span>
            <i class="fa fa-times"></i>
          <% end %>
        </p>
        <p>
          <strong>Name:</strong>
          <%= @customer.name %>
        </p>
        <p>
          <strong>Contact:</strong>
          <%= @customer.info %>
        </p>
      </div>
      <div class="col-xs-6">
        <p>
          <strong>Date and Time:</strong>
          <% if @order.paid_at %>
            <%= @order.paid_at.strftime('%F %T') %>
          <% else %>
            NOT PAID
          <% end %>
        </p>
        <p>
          <strong>Order ID:</strong>
          #<%= params[:id] %>
        </p>
        <p>
          <strong>Sales:</strong>
          <%= @order.user.name %>
        </p>
      </div>
    </div>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Product</th>
          <th class="text-right">Price Per Unit</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- items in cart -->
        <% @cart.items.each_with_index do |item, index| %>
          <tr>
            <td class="text-center"><%= index + 1 %></td>
            <td><%= product_name(item.id) %></td>
            <td class="text-right">฿<%= number_with_delimiter(product_price(item.id)) %></td>
            <td class="text-right">x <%= number_with_delimiter(item.quantity) %></td>
            <td class="text-right">฿<%= number_with_delimiter(product_price(item.id) * item.quantity) %></td>
          </tr>
        <% end %>
        <!-- combos in cart -->
        <% @cart.combos.each_with_index do |item, index| %>
          <tr>
            <td class="text-center"><%= index + 1 + @cart.items.length %></td>
            <td>
              <%= combo_name(item.id) %>
              <ul>
                <% combo_items(item.id, item.selected).each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            </td>
            <td class="text-right">฿<%= number_with_delimiter(combo_price(item.id)) %></td>
            <td class="text-right">x 1</td>
            <td class="text-right">฿<%= number_with_delimiter(combo_price(item.id)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h1 class="text-right">
      Total ฿<%= number_with_delimiter(@order.total) %>
    </h1>
    <hr>
    <% if @order.paid_at && !@order.completed %>
      <h2>Back-order</h2>
      <p>กรุณานำใบนี้มารับสินค้าสำหรับสินค้าสั่งจอง Bring this receipt to pick up your pre-order item.</p>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @order.bought.each do |key, value| %>
            <% if value - @order.received[key] != 0 %>
              <tr>
                <td><%= product_name(key) %></td>
                <td><%= value - @order.received[key] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <hr>
    <% end %>
    <p class="text-center">
    กรุณาตรวจสอบสินค้าก่อนออกจากเค้าเตอร์ ไม่รับเปลี่ยนหรือคืนสินค้า<br>
    Please check the item before leaving the counter. All sales are final.<br>
    คณะกรรมการนักเรียนโรงเรียนสวนกุหลาบวิทยาลัย www.skkornor.com
    </p>
  </div>
  <% if @order.paid_at %>
    <%= render(partial: 'ship_modal') %>
  <% else %>
    <%= render(partial: 'pay_modal') %>
  <% end %>
</div>
