<div class="row" ng-app="samarnmitrPOS" ng-controller="POSCtrl" ng-init="paid = false; cart2Load = <%= params[:id]%>">
  <div class="col-md-6 col-md-offset-2">
    <div class="page-header hidden-print">
      <p ng-hide="<%= @order.paid %> || paid">
        <a href="<%= edit_path(params[:id]) %>" class="btn btn-warning pull-left" data-no-turbolink>
          <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#payModal">
          <span class="glyphicon glyphicon-usd"></span> Pay
        </button>
      </p>
      <p ng-show="<%= @order.paid %> || paid">
        <button class="btn btn-info pull-left" onclick="window.print()">
          <span class="glyphicon glyphicon-print"></span> Print
        </button>
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#shipModal">
          <span class="glyphicon glyphicon-send"></span> Ship
        </button>
      </p>
      <h3 class="text-center">
        <strong>Status:</strong>
        <span class="label label-success" ng-show="<%= @order.paid %> || paid">Paid</span>
        <span class="label label-danger" ng-hide="<%= @order.paid %> || paid">Unpaid</span>
      </h3>
    </div>
      <center><img src = "/img/smm_logo.png" width="300">
      <h4>Receipt and Shipping bill</h4></center>
    <p>
      <div class = "col-sm-12"><p align = "right"><strong>Date and Time:</strong> !DATE AND TIME HERE!</p>
      <strong>Order ID:</strong> #<%= params[:id] %><br>
      <strong>Sales:</strong> <%= @order.user.name %><br>
      <strong>Name:</strong> {{customer.name}}<br>
      <strong>Contact:</strong> {{customer.info}}
      </div>
      <h3 class="visible-print-block" ng-hide="<%= @order.paid %> || paid">
        <span class="label label-danger">Unpaid</span>
      </h3>
    </p>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Product</th>
          <th class="text-right">Price Per Unit</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- items in cart -->
        <tr ng-repeat="item in cart.items">
          <td class="text-center">{{$index + 1}}</td>
          <td>{{product[item.id].name}}</td>
          <td class="text-right">{{product[item.id].price | currency:'฿':0}}</td>
          <td class="text-right">{{item.quantity | currency:'x ':0}}</td>
          <td class="text-right">{{product[item.id].price * item.quantity | currency:'฿':0}}</td>
        </tr>
        <!-- combos in cart -->
        <tr ng-repeat="item in cart.combos">
          <td class="text-center">{{$index + 1 + cart.items.length}}</td>
          <td>
            {{combo[item.id].name}}
            <ul ng-init="result = selectCombo(item.id, item.selected)">
              <li ng-repeat="name in result track by $index">
                {{name}}
              </li>
            </ul>
          </td>
          <td class="text-right">{{combo[item.id].price | currency:'฿':0}}</td>
          <td class="text-right">x 1</td>
          <td class="text-right">{{combo[item.id].price | currency:'฿':0}}</td>
        </tr>
      </tbody>
    </table>
    <h1 class="text-right">Total {{cartTotal() | currency:'฿':0}}</h1>
    <hr>
    <div ng-show="<%= @order.paid %> || paid">
      <h2>Back-order</h2>
      <p>กรุณานำใบนี้มารับสินค้าสำหรับสินค้าสั่งจอง Bring this receipt to pick up your pre-order item.</p>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @order.bought.each do |key, value| %>
            <% if value - @order.received[key] != 0 %>
              <tr>
                <td><%= product_name(key) %></td>
                <td><%= value - @order.received[key] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class = "col-sm-12"><p align = "center">กรุณาตรวจสอบสินค้าก่อนออกจากเค้าเตอร์ ไม่รับเปลี่ยนหรือคืนสินค้า<br>Please check the item before leaving the counter. All sales are final.<br>คณะกรรมการนักเรียนโรงเรียนสวนกุหลาบวิทยาลัย www.skkornor.com
    </p></div>
  </div>

  <!-- payModal -->
  <div class="modal fade" id="payModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pay By Cash</h4>
        </div>
        <div class="modal-body">
          <form>
            <!-- TODO: don't believe that input[type=number]s are always positive integers -->
            <div class="form-group">
              <label for="total" class="control-label">ต้องชำระ:</label>
              <input type="number" class="form-control" id="total" value="{{cartTotal()}}" disabled>
            </div>
            <div class="form-group">
              <label for="received" class="control-label">รับมา:</label>
              <input type="number" class="form-control" id="received" ng-model="received">
            </div>
            <div class="form-group">
              <label for="change" class="control-label">ทอน:</label>
              <input type="number" class="form-control" id="change" value="{{received - cartTotal()}}" disabled>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- TODO: don't reload, use reactive programming instead -->
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pay('<%= form_authenticity_token %>')" ng-disabled="received - cartTotal() < 0">Pay</button>
        </div>
      </div>
    </div>
  </div>

  <!-- shipModal -->
  <div class="modal fade" id="shipModal">
    <div class="modal-dialog">
      <%= form_tag ship_path(@order.id), class: 'modal-content' do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ship</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <% @order.bought.each do |key, value| %>
                <% if value - @order.received[key] != 0 %>
                  <tr>
                    <td><%= product_name(key) %></td>
                    <!-- TODO: what if `shipped > bought` -->
                    <td><%= select 'ship', key, options_for_select(0..(value - @order.received[key])) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Ship</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
