%h1 All Orders
%table.table
  %thead
    %tr
      %th ID
      %th Seller
      %th Customer
      %th Total
      %th Timestamp
      %th Operations
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        %td= order.user.name
        %td= JSON.parse(order.customer)['name']
        %td= order.total
        - if order.paid_at
          %td= order.paid_at.strftime('%F %T')
        - else
          %td N/A
        %td
          = link_to(t('resources.view'), view_order_path(order))
          - if order.paid_at
            - if current_user.is_admin
              |
              Un-pay
          - else
            |
            = link_to(t('resources.edit'), edit_order_path(order))
          - if current_user.is_admin
            |
            = t('resources.delete')
